$text-shadow:2px 2px 6px rgba(14, 42, 90, 0.4);
$border-radius:10px;
$card-shadow: 0 20px 20px rgba(68, 71, 93, 0.2);
$pikachu-color: #ffd622;



.container{
  height:740px;
  width:30%;
  margin:0 auto;
  border: 10px solid #252525;
  padding:10px;
  border-radius:50px;
  overflow:scroll;

  .header{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    justify-content:space-between;
  }

}

.list{
  display:flex;
  flex-direction:row;
  margin-top:180px;
  width:100%;

}

.pokemon{
  height:240px;
  align-self:center;
  width:240px;
  padding:30px;
  margin-top:200px;
  border-radius:4px;
  background-color:white;
  box-shadow: $card-shadow;
  text-align:left;
  //background-image: linear-gradient(to bottom right, lighten($pikachu-color, 30),$pikachu-color);
  margin:10px;


  &-image{
    display:block;
    height:220px;
    width:200px;
    transform: translateY(-150px);

  }

  &-content{
    transform: translateY(-150px);
  }

  p{
      font-size:14px;
  }




}
